:root {
  --bg-canvas: #525659;
  --page-white: #ffffff;
  --text-color: #000000;
  --header-gray: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-canvas);
  font-family: "Times New Roman", Times, serif;
  color: var(--text-color);
  line-height: 1.5;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.page {
  background: var(--page-white);
  width: 210mm;
  min-height: 297mm;
  padding: 1.5cm 2.5cm 2.5cm 2.5cm;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

/* CABEÇALHO */
.cabecalho {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #000;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 250px;
  margin-bottom: 20px;
}

.logo-box {
  width: 80px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9pt;
  font-weight: bold;
  color: #2e7d32;
  text-align: center;
  padding: 4px;
}

.cabecalho-texto {
  font-size: 8pt;
  text-align: center;
  line-height: 1.6;
}

/* TÍTULO */
.titulo-doc {
  text-align: center;
  font-size: 14pt;
  font-weight: bold;
  margin: 18px 0 6px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.cidade-data {
  text-align: right;
  font-size: 11pt;
  font-weight: bold;
  margin-bottom: 14px;
}

/* SEÇÕES */
.secao-titulo {
  background-color: var(--header-gray);
  font-size: 11pt;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding: 4px 8px;
  margin-bottom: 10px;
  border: 1px solid #bbb;
}

section {
  margin-bottom: 16px;
}

/* DADOS GERAIS */
.dado-row {
  display: flex;
  font-size: 11pt;
  margin-bottom: 2px;
}

.dado-label {
  font-weight: bold;
  min-width: 170px;
}

.dado-valor {
  flex-grow: 1;
  border-bottom: 1px dotted #aaa;
}

/* TEXTO CORRIDO */
.texto-corpo {
  font-size: 11pt;
  text-align: justify;
  text-indent: 1.5cm;
  margin-bottom: 10px;
  line-height: 1.6;
}

/* LISTAS */
.lista {
  margin-left: 1.5cm;
  margin-bottom: 10px;
  font-size: 11pt;
}

.lista li {
  margin-bottom: 6px;
  text-align: justify;
}

/* PENDÊNCIAS */
.pendencias-titulo {
  font-size: 11pt;
  font-weight: bold;
  margin-bottom: 6px;
}

.lista-pendencias {
  margin-left: 1cm;
  font-size: 11pt;
}

.lista-pendencias li {
  margin-bottom: 8px;
  text-align: justify;
  font-weight: bold;
}

/* ASSINATURA */
.assinatura {
  margin-top: 50px;
  text-align: center;
}

.linha-assinatura {
  border-top: 1px solid #000;
  width: 280px;
  margin: 0 auto 4px auto;
}

.assinatura-nome {
  font-weight: bold;
  font-size: 11pt;
}

.assinatura-cargo {
  font-size: 11pt;
}

span{
  font: bold;
}

/* IMPRESSÃO */
@media print {
  body {
    background: none;
    padding: 0;
  }
  .page {
    box-shadow: none;
    width: 100%;
    padding: 1.5cm;
  }
}
